*.dtbcache.v2
*.suo
*.testlog
*.cache

*.dll
*.pdb
*.tmp
*.json
*.cache
*.txt
*AssemblyInfo.cs
/AlgoBentleyOttman.sln.DotSettings.user
*.dll
*.exe
*.json
*.exe
*.pdb
*.cache
/BentleyOttman/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AlgoBentleyOttman/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AlgoBentleyOttman/obj/Debug/netcoreapp3.1/AlgoBentleyOttman.csproj.FileListAbsolute.txt
